:root {
  --primary-color: #BE1E2D;
  --secondary-color: #F7941D;
  --accent-color: #464747;
  --success-color: #04683A;
  --info-color: #0F76BB;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: #222222;
}
ul {
  list-style: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-family: 'Roboto';
}
.header .logo {
  width: 60px;
}
.header ul {
  display: flex;
  padding: 4px 0;
}
.header ul li {
  color: #464747;
  margin: 0 28px;
  cursor: pointer;
  font-weight: bold;
  transition: .3s;
}

.header ul li:hover {
  color: #BE1E2D;
} 
.socialIcon {
  cursor: pointer;
  width: 20px;
  margin: 0 4px;
}
.menu-trigger {
  display: none;
}

/*Hero*/
.hero {
  display: flex;
  height: 90vh;
  align-items: center;
  padding: 0 10%;
}
.message {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.message p:first-child {
  font-weight: bold;
  font-size: 36px;
  color: #222222;
}
.message p:nth-child(2) {
  color: #464747;
  width: 80%;
  font-size: 18px;
}
.actionBtn a {
  padding: 4px 12px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
  margin: 4px;
}
.actionBtn a:hover {
  opacity: .9;
}
.actionBtn a:first-child {
  background-color: #BE1E2D;
}
.actionBtn a:nth-child(2) {
  background-color: #F7941D;
}
.hero img {
  width: 400px
}

/*About*/
.about {
}
.about .text {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .t1 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
.about .t2 {
  color: #464747;
  width: 60%;
  font-size: 18px;
}
.about .books {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 10%;
}
.books img {
  width: calc(90%/7);
  cursor: pointer;
  margin: 4px;
}
.prd {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: red;
}
span#red {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: red;
}
span#blue {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: blue;
}
span#green {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: green;
}
/*Why*/
.why {
  text-align: justify;
}
span.circle {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 4px solid #BE1E2D;
  position: relative;
}
.whyHeader {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
span.hider {
  display: block;
  width: 4px;
  height: 8px;
  background-color: white;
  position: absolute;
  top: -6px;
  right: 6px;
}
.spacer {
  margin: 80px 0;
}
/*testemonial*/
.tstHeader {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}







/*different media style*/
@media (max-width: 700px) {
  /*Header*/
  .socialIcon {
    display: none;
  }
  .header ul {
    display: none;
  }
  /*Hero*/
  .menu-trigger {
    display: block;
  }
  .hero {
    flex-direction: column;
  }
  .hero img {
    margin: 40px;
  }
  .message p:nth-child(2) {
    width: 100%;
    text-align: justify;
  }
  /*About*/
  .about .t2 {
    width: 90%;
  }
  .books img {
    width: calc(90%/2);
  }
}